tk-tools==0.16.0
regex==2025.7.34
temp==2020.7.2
orjson==3.9.15
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
requests==2.32.4
pywin32==306
configparser==6.0.0
web-browser==0.0.1
openai==0.28.0
collections==0.1.6
colorama==0.4.4
tqdm==4.66.3
python-csv==0.0.14
datetime==5.5
ctypes==1.0.2
pillow==11.3.0
